.h1,.h2{
    text-align: center;
    padding-top: 2em;
    font-family: 'Trebuchet MS';  
}


.conteudoRegra{
    text-align: justify;
    padding-top: 1em;
    padding-left: 6em;
    padding-right: 3em;
}
.conteudoHistoria{
    text-align: justify;
    padding-top: 1em;
    padding-right: 6em;
    padding-left: 3em;

}



.btn-dark{
    margin-left: 6em;
    margin-top: 5em;
    

}

.h3{
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-top: 15px;
    padding-right: 2px;
    background-color: greenyellow;
    margin-left: 6em;
    margin-top: -1.3em;
}

@media screen and (max-width: 768px){
    .conteudoHistoria{
        padding-right: 3em ;
    }
    .conteudoRegra{
        padding-left: 3em;
    }

    #botaoSorte{
        margin-left: 3em;
    }

    .h3{
        margin-left: 5em;
    }
} 


